apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:  
 - ../../base
patchesStrategicMerge:
  - "patches.yaml"

patches:
  - target:
      kind: Ingress
      name: live-conversation-conversation-service-ingress
    patch: |-
      - op: replace
        path: /spec/rules/0/host
        value: live.labmojodoo.com